<!--  Replace menu links here -->

<img src="assets/images/LD70.png" width="50">
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Inicio</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/autores-lista.html">Autores</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contacto.html">Contacto</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/themes/mundana-wordpress/">WP</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/themes/mundana-ghost/">Ghost</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/donate/">Buy me a coffee <i class="fa fa-coffee text-danger"></i></a>
</li>
